.PreferenceItem {
  display: flex;
  border-bottom: 1px solid #444;
  align-items: center;
  padding: 20px 0;
  &:last-child {
    border-bottom: 0;
  }
}

.Description {
  width: 100%;
  padding: 0 20% 0 5px;
  font-size: 0.85rem;
}

.ToggleWrapper {
  width: auto;
  display: flex;
  align-items: center;
}
