/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~normalize.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

:root {
  // color-scheme: light dark;
}

.body-background-color {
  background-color: $dark-gray1;
}

.button-icon-only-color {
  color: $dark-gray2;
}

:focus,
:active {
  outline: none;
  outline-offset: 0;
  outline-color: transparent;
  box-shadow: none;
}

.bp3-control {
  @extend .bp3-control;
  margin-bottom: 0;
}

.bp3-input {
  background-color: $dark-gray2;
  outline: none;
  color: $white;
}

body {
  position: relative;
  color: $white;
  height: 100vh;
  background-color: $dark-gray1;
  font-family: sans-serif;
}

p {
  margin: 15px 0;
}

.height-size-full {
  height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.align-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-small-xy {
  padding: 5px;
}

.padding-medium-xy {
  padding: 15px;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     color: #eee;
//     background: var(--body-background-color);
//   }
//   body a {
//     color: #809fff;
//     cursor: pointer;
//     &:hover{
//       color: #809fff;
//       opacity: 0.7;
//     }
//   }
// }

button,
label {
  outline: none;
  box-shadow: none;
}

button {
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

// a {
//   text-decoration: none;
//   color: #888;
//   &:hover {
//     color: #999;
//   }
// }

// a:hover {
//   opacity: 1;
//   text-decoration: none;
// }
