/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  color-scheme: light dark;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #121212;
  font-family: sans-serif;
}

.height-size-full {
  height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.align-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
  body a {
    color: #809fff;
  }
}

button {
  background-color: #424242;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  appearance: none;
  font-size: 1.2rem;
  color: white;
  /* box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14); */
  transition: transform ease-in 0.1s;
  outline: none;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
